<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>A World of Knowledge</h1>
    <br />
    <h2>Improve your skills</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<br />
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="fixed-box col-sm-4">
  <br /> 
    <%= image_tag 'play.png', class: 'social-button' %>
    <div class=" overview clear">
      Step by step video instructions on how to build an awesome web application that looks good on mobile 
    </div>
  </div>

  <div class="fixed-box col-sm-4">
  <br />
    <%= image_tag 'computer.png', class: 'social-button' %>
    <div class=" overview clear">
      Learn the latest technologies used by the best startups to build and launch products fast
    </div>
  </div>

  <div class="fixed-box col-sm-4">
  <br />
    <%= image_tag 'code.png', class: 'social-button' %>
    <div class=" overview clear">
      All the code snippets, cheat sheets and notes you need to continue building applications on your own
    </div>
  </div>
</div>